.panel {
    box-sizing: border-box;
    width:100%;
    padding: 0 6px 0 12px;
  }
  .mediabody {
    width:100%;
    box-sizing: border-box;
    img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  
  h3.panel {
    justify-content: center;
    max-width: 100%;
  }