.media {
  position: absolute;
  z-index: 10000;
  width:50%;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom:4px;
  .list_groups {
     background-color: #eeeeee;
     border-bottom: 1px solid #8c8c8c;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .list_items {
    padding:10PX;
    a {
      display:flex;
      text-decoration: none;
      color: #000000;
        .mediabody {
          .producticon {
            padding-right:10px;
            width:80px;
            margin-top:5px;
          }
        }
        h3.app {
          margin: 0px 0px 7px 0px;
        }
    }
    a:hover, a:active {
      color: #0b79e0;
    }
  }
} 
.media_hide {
  display:none
}


